{% extends 'relationship_app/base.html' %} {% block content %}
<div class="auth-form">
  <h1>Change Password</h1>
  <form method="post" autocomplete="off">
    {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }} {{ field }} {{ field.errors }} {% if field.help_text
      %}
      <small class="help-text">{{ field.help_text|safe }}</small>
      {% endif %}
    </div>
    {% endfor %}

    <button type="submit">Change Password</button>
  </form>
  <div class="auth-links">
    <a href="{% url 'bookshelf:member_dashboard' %}">Back to Dashboard</a>
  </div>
</div>
{% endblock %}
