{% extends 'blog/base.html' %}

{% block title %}Home - Django Blog{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="mb-3">
        <a href="{% url 'blog:post-create' %}" class="btn btn-primary">Create New Post</a>
    </div>
{% endif %}
<div class="posts-container">
    {% if posts %}
        {% for post in posts %}
            <article class="post">
                <h2>{{ post.title }}</h2>
                <div class="post-meta">
                    <span>By {{ post.author.username }}</span>
                    <span>{{ post.published_date|date:"F j, Y" }}</span>
                </div>
                <div class="post-content">
                    {{ post.content|truncatewords:50 }}
                </div>
                <div class="post-actions">
                    <a href="{% url 'blog:post-detail' post.pk %}" class="btn btn-info">Read More</a>
                    {% if user == post.author %}
                        <a href="{% url 'blog:post-update' post.pk %}" class="btn btn-secondary">Edit</a>
                        <a href="{% url 'blog:post-delete' post.pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p class="no-posts">No posts yet.</p>
    {% endif %}
</div>

{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info" href="?page=1">First</a>
            <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}